/android/local.properties
/android/key.properties
*.jks
*.keystore
__pycache__/
*.pyc
/.dart_tool/
/build/
/.flutter-plugins
/.flutter-plugins-dependencies
/.pub-cache/
/android/.gradle/
/linux/flutter/ephemeral/
/windows/flutter/ephemeral/
/macos/Flutter/ephemeral/
