// Application-level settings for the Runner target.
//
// This may be replaced with a customized file by `flutter create`.
// Application Bundle ID
PRODUCT_BUNDLE_IDENTIFIER = com.aiorchestrator
// Versioning
FLUTTER_BUILD_NAME = 1.0.0
FLUTTER_BUILD_NUMBER = 1
// Copyright
PRODUCT_COPYRIGHT = Copyright © 2024 com.aiorchestrator. All rights reserved.
// macOS Deployment Target
MACOSX_DEPLOYMENT_TARGET = 10.14
